<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>853637238460-9thfumm0srqhevpi62hsopjcaa1f67q0.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.853637238460-9thfumm0srqhevpi62hsopjcaa1f67q0</string>
    <key>API_KEY</key>
    <string>AIzaSyDQacAPjfXQKq-V4vYxgQ5M8SO2jXPQljc</string>
    <key>GCM_SENDER_ID</key>
    <string>853637238460</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.blueprint.YapeRecipes</string>
    <key>PROJECT_ID</key>
    <string>yapechallenge-75057</string>
    <key>STORAGE_BUCKET</key>
    <string>yapechallenge-75057.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:853637238460:ios:a52c9f6455f37044e90ab9</string>
</dict>
</plist>
