<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.853637238460-9thfumm0srqhevpi62hsopjcaa1f67q0</string>
			</array>
		</dict>
	</array>
    <key>FirebaseAutomaticScreenReportingEnabled</key>
    <true />
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Queremos saber de donde posteas</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Queremos saber de donde posteas</string>
</dict>
</plist>
